/*!
* CSS Template
* Author K.Bee
* Template BMV
*/

:root {
    --text-hover: #0e5cf2;
    --base-color: #47B2F0;
}


html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
    font-size: 14px;
    margin-right: 0px;
    font-family: 'Quicksand', sans-serif;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

table, td, th {
    vertical-align: middle;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

a img {
    border: none;
}

ul {
    list-style: none;
}

a, a:hover {
    text-decoration: none;
}

body {
    font-size: 14px;
    font-weight: 500;
    background-color: #ffffff;
}

.color-yellow {
    color: #c8a741;
}

.background-yellow {
    background: #c8a741;
}

.header-page {
    font-family: 'Poppins', sans-serif;
    -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, .21);
    -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, .21);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, .21);
    z-index: 1000;
    background-color: #fff;
    -webkit-transition: position .4s linear;
    -moz-transition: position .4s linear;
    -ms-transition: position .4s linear;
    -o-transition: position .4s linear;
    transition: position .4s linear;
}

.nav-main {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.nav-main .nav-left {
    width: 170px;
    vertical-align: top
}

.nav-main .nav-left a {
    display: block;
    vertical-align: middle;
}

.nav-main .nav-left a img {
    height: 100px;
    width: 100%;
    vertical-align: middle;
}

.nav-main .nav-right {
    width: calc(100% - 172px);
    vertical-align: top;
    padding-top: 10px;
    position: relative;
}

.nav-right .nav-top {
    text-align: right;
}

.nav-top .hotline, .nav-top .login {
    margin-right: 20px;
}

.nav-top .login {
    padding-left: 10px;
}

.nav-top .hotline i, .nav-top .login i {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #47a7eb;
    color: #fff;
    margin-right: 5px;
    transform: rotateY(180deg)
}

.hotline .txt-phone a, .login .txt-login a {
    font-size: 16px;
    line-height: 30px;
    color: #797979;
}

.social a i {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: #ededed solid 1px;
    margin-left: 5px;
    color: #797979;
    transition: .5s all
}

.social a:hover i {
    background: #47a7eb;
    color: #fff;
    border-color: transparent
}

.search form {
    display: inline-block;
    position: relative;
    margin-left: 20px;
}

.search input {
    background: #47a7eb url(../image/isearch.png) top center no-repeat;
    width: 30px;
    height: 30px;
    padding: 0;
    border: transparent solid 1px;
    color: transparent;
    cursor: pointer;
    -webkit-transition: width .4s ease;
    -moz-transition: width .4s ease;
    -ms-transition: width .4s ease;
    -o-transition: width .4s ease;
    transition: width .4s ease;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    position: relative;
    outline: none;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
}

.search input:focus {
    width: 200px;
    background-color: #fff;
    background-position: calc(100% - 10px) bottom;
    border-radius: 15px;
    border-color: #c8a741;
    color: #000;
    padding-left: 15px;
    padding-right: 30px;
}

.search button {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #c8a741;
    color: #fff;
    margin-left: 5px;
    border: none;
    display: none;
}

.nav-bottom {
    position: absolute;
    bottom: 0;
    right: 0
}

.nav-bottom .nav__menu {
    display: table;
    float: right;
    text-align: right;
    margin: 0;
    padding: 0;
    font-size: 1.15em;
    z-index: 111;
    height: 100%;
}

.nav-bottom .nav__menu > li {
    position: relative;
    list-style: none;
    display: block;
    float: left;
    margin-left: 3px;
    text-transform: uppercase;
}

.nav-bottom .nav__menu > li > a {
    display: block;
    line-height: 40px;
    padding: 0 12px;
    text-decoration: none;
    color: #1a1616;
    position: relative;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 10px;
    -moz-background-clip: padding;
    /* -webkit-transition: background-color .4s linear;
    -moz-transition: background-color .4s linear;
    -ms-transition: background-color .4s linear;
    -o-transition: background-color .4s linear;
    transition: background-color .4s linear; */
}

.nav-bottom .nav__menu > li.active > a, .nav-bottom .nav__menu > li:not(:last-child):hover > a {
    background-color: #47a7eb;
    color: #fff;
    position: relative;
}

.nav-bottom .nav__menu > li.active > a:before, .nav-bottom .nav__menu > li:hover > a:before {
    content: '';
    display: block;
    height: 27px;
    width: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url(../image/menubg_01.png) left bottom no-repeat;
    background-size: 100% 27px;
}

.nav-bottom .nav__menu > li.active > a:after, .nav-bottom .nav__menu > li:hover > a:after {
    content: '';
    display: block;
    height: 27px;
    width: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    background: url(../image/menubg_02.png) left bottom no-repeat;
    background-size: 100% 27px;
}

.nav-bottom .nav__menu ul {
    position: absolute;
    top: 110%;
    left: 0;
    min-width: 180px;
    max-width: 300px;
    display: block;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    visibility: hidden;
    float: none;
    text-align: left;
    background-color: transparent;
    padding: 6px 0 0;
    margin: 0;
    z-index: 112;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.nav-bottom .nav__menu ul:before {
    content: '';
    height: 0;
    width: 0;
    border: 6px solid transparent;
    border-bottom-color: #47a7eb;
    position: absolute;
    top: -6px;
    left: 15px;
    z-index: 999;
}

.nav-bottom .nav__menu ul li {
    display: block;
    width: 100%;
    max-width: 100%; /* overflow: hidden; */
    padding: 0;
    margin-left: 0;
    position: relative;
    border-bottom: var(--base-color) solid 1px;
}

.nav-bottom .nav__menu ul li:before {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    background-color: #c8a741;
    position: absolute;
    top: 50%;
    left: 15px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -3.5px;
}

.nav-bottom .nav__menu ul li a {
    display: block;
    padding: 7px 15px 7px 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 2rem;
    white-space: nowrap;
    height: auto;
    margin: 0;
    background: #47a7eb;
    color: #fff;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    text-transform: none;
    overflow: hidden;
    border-bottom: none;
}

.nav-bottom .nav__menu > li:hover > ul {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.nav-bottom .nav__menu > li > ul > li:hover:before, .nav-bottom .nav__menu > li > ul > li > ul > li:hover:before {
    background-color: #fff;
}

.nav-bottom .nav__menu > li > ul > li:hover > a, .nav-bottom .nav__menu > li > ul > li > ul > li:hover a {
    background-color: var(--base-color);
    color: #fff;
    position: relative;
}

.nav-bottom .nav__menu > li > ul > li:hover > ul {
    opacity: 1;
    visibility: visible
}

.nav-bottom .nav__menu ul ul {
    top: -5px;
    left: 103%;
    width: 100%;
    max-width: 195px;
}

.nav-bottom .nav__menu ul ul li a {
    white-space: normal
}

.nav-bottom .nav__menu ul ul:before {
    top: 17px;
    left: -12px;
    border: 6px solid transparent;
    border-right-color: #47a7eb;
}

.js_search_mobile {
    display: none;
}

.js_search_mobile span {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: var(--base-color);
    color: #fff;
    margin-left: 5px;
}

.arrow__search {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 11px;
    left: 89%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999;
    border-bottom-color: #fff;
    top: -11px;
}

.arrow__search:after {
    content: " ";
    top: 1px;
    margin-left: -10px;
    border-top-width: 0;
    border-bottom-color: #fff;
    border-width: 10px;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.popover {
    margin-top: 15px;
}

.popover.search__mobile {
    left: -7.5% !important;
    max-width: 350px;
    width: 100%
}

.search__mobile form {
    display: block;
}

.search__mobile .form-control {
    padding: 0;
    margin-bottom: 10px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.search__mobile .form-control:last-child {
    justify-content: flex-end;
}

.search__mobile input {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: 1px solid #eee;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display: inline-block;
}

.search__mobile .form-control input[type='checkbox'] {
    width: 15px;
    height: 15px;
    line-height: 15px;
    margin-right: 5px;
}

.search__mobile button,
.search__mobile a {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-weight: 600;
    color: #fff;
    background-color: #47a7eb;
    border: none;
    display: inline-block;
    margin-top: -3px;
    margin-right: 5px;
}

.nav__bar {
    color: #6f6f6f;
    text-decoration: none;
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    font-size: 24px;
}

.js_nav {
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0;
    left: -100%;
    width: 260px;
    height: 100%;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    background-color: #fff;
    z-index: 99999;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.js_nav.active {
    left: 0;
}

.js__mobile {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    display: block;
    position: relative;
}

.js__mobile .js__logo {
    display: block;
    margin: 0;
    text-align: center;
    padding: 20px 15px;
    border-bottom: #ededed solid 1px;
}

.js__mobile .js__logo img {
    width: 150px;
    max-width: 100%;
    margin: 0 auto;
}

.js__mobile ul, .js__mobile ul li, .js__mobile ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    display: block;
    position: relative;
}

.js__mobile ul li a {
    padding: 10px 15px;
    cursor: pointer;
    z-index: 2;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #47a7eb !important;
    border-bottom: #ededed solid 1px;
}

.js__mobile ul li ul {
    display: none;
}

.js__mobile ul li ul li a {
    cursor: pointer;
    padding: 10px 15px 10px 30px;
    z-index: 1;
    text-decoration: none;
    text-transform: none;
    background-color: #fff;
    color: #6f6f6f;
}

.js__mobile .menu-item-has-children:after {
    display: inline-block;
    position: absolute;
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    top: 20px;
    right: 15px;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    z-index: 10;
    font-size: 20px;
    color: #47a7eb;
    font-weight: 900;
    transition: .5s all;
}

.js__mobile .open.menu-item-has-children:after {
    transform: rotate(180deg) translate(0, 50%);
}

.js__search {
    width: 100%;
    padding: 20px 10px;
}

.js__search form {
    margin: 0;
    padding: 0;
    width: 100%;
    border: #ededed solid 1px;
}

.js__search input {
    width: calc(100% - 36px);
    height: 36px;
    padding: 5px 10px;
    border: none;
    float: left;
}

.js__search button {
    width: 36px;
    height: 36px;
    border: none;
    text-align: center;
    border-radius: 0
}

.js_overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    color: #fff;
    z-index: 8888;
    overflow: hidden;
}

.js_overlay.active {
    display: block;
}

.header-page .nav-main .nav-left a.block__sticky {
    display: none;
}

@media (min-width: 1199px) {
    .js_sticky.header-page .nav-main .nav-left a.block__sticky img {
        width: 100%;
        height: 48px;
    }

    .js_sticky.header-page{
        position: fixed;
        width: 100vw;
        top: 0;
        background-color: #c8a741;
    }

    .js_sticky.header-page .nav-top,
    .js_sticky.header-page .none__sticky {
        display: none;
    }

    .js_sticky.header-page .nav-main .nav-left a.block__sticky {
        display: block;
    }
    /* Custom CSS */
    .js_sticky.header-page .nav-main .nav-bottom .nav__menu > li.active:after,
    .js_sticky.header-page .nav-main .nav-bottom .nav__menu > li.active:before,
    .js_sticky.header-page .nav-main .nav-bottom .nav__menu > li:hover:after,
    .js_sticky.header-page .nav-main .nav-bottom .nav__menu > li:hover:before {
        background-image: none;
    }

    .js_sticky.header-page .nav-main .nav-bottom .nav__menu > li > a,
    .js_sticky.header-page .nav-main .nav-bottom .nav__menu > li > i {
        border-radius: 0;
        color: #fff;
    }

    .js_sticky.header-page .nav-main .nav-bottom .nav__menu > li {
        border-radius: 0
    }

    .js_sticky.header-page .nav-main .nav-bottom .nav__menu > li:hover,
    .js_sticky.header-page .nav-main .nav-bottom .nav__menu > li.active {
        background: #47a7eb;
    }
}

.new-title {
    width: 100%;
    text-align: center;
    display: block;
    z-index: 10;
    margin-top: 15px;
    margin-bottom: 30px;
    position: relative;
}

.new-title > h3 {
    position: relative;
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;
    color: #47a7eb;
    font-size: 24px;
    margin: 0;
    z-index: 999;
    padding: 10px 30px;
    display: inline-block;
}

.banner {
    z-index: 1;
    position: relative;
    width: 100%;
}

.banner .slider-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    min-height: 500px;
    position: relative;
}

/* .banner .slider-item:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  content: "";
} */
.banner .slider-item .slider-text {
    color: #fff;
    height: 100%;
    min-height: 500px;
}

.banner .slider-item .slider-text h1 {
    font-size: 40px;
    color: #fff;
    line-height: 1.2;
    font-weight: 800 !important;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.banner .slider-item .slider-text h1:before {
    content: '';
    display: block;
    height: 0em;
    margin: 0 auto;
    background: url(../image/text-bg.png) center center no-repeat;
    position: absolute;
    background-size: cover;
    height: 2em;
    position: absolute;
    width: 100%;
    top: -.5em;
    left: 0;
    z-index: -1;
}

.banner .slider-item .slider-text p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
    color: white;
}

.banner .slider-item .slider-text a {
    border-width: 2px;
    border-color: #fff;
    color: #fff;
}

.banner .owl-dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.banner .owl-dots .owl-dot {
    width: 15px;
    height: 15px;
    margin: 5px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    outline: none !important;
    position: relative;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    background: transparent;
}

.banner .owl-dots .owl-dot.active {
    border: 2px solid white;
    background: #fff;
}

.banner .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.banner .owl-nav button span {
    color: #fff !important;
    font-size: 60px;
    height: 50px;
    width: 50px;
    line-height: 37px;
    display: block;
    border-radius: 100%;
    background: rgba(255, 255, 255, .5);
    border: 2px solid #c8a741;
}

.banner .owl-nav .owl-prev, .banner .owl-nav .owl-next {
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: -10px;
    opacity: .7;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    outline: none !important;
}

.banner .owl-nav .owl-prev {
    left: 25px !important;
}

.banner .owl-nav .owl-next {
    right: 25px !important;
}

.banner:hover .owl-nav {
    opacity: 1;
    visibility: visible;
}

.sec-new {
    padding-bottom: 1em;
}

.info-large {
    margin-bottom: 20px;
}

.post-image-large {
    /*padding: 30px 30px;
    background-color: white;
    margin-bottom: 20px;*/
}

.post-info-large {
    padding: 20px 0px;
    /*height: 100%;*/
    /*background-color: white;*/
}

.post-info-large > .title-post > a > h3 {
    font-size: 24px;
}

.post_item {
    margin: 0px 0px;
    margin-bottom: 30px;
    /*padding: 20px 0px !important;*/
    display: inline-block;
    /*background-color: white;*/
    border: 1px solid #d1d1d1;
}


.img-post {
    width: 100%;
    height: 100%;
    max-height: 300px;
    object-fit: cover;
    vertical-align: middle;
    transition: .3s all linear;
}

.title-post > a {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    font-weight: bold;
    display: block;
}

.title-post {
    padding-bottom: 15px;
}

.title-post > a:hover {
    color: var(--text-hover);
}

.except-post > p {
    text-align: justify;
    line-height: 20px;
    color: #444
}

/*.date-post {*/
/*    display: block;*/
/*    float: left;*/
/*    line-height: 40px;*/
/*}*/

/*.review-post-btn {*/
/*    display: block;*/
/*    float: right;*/
/*}*/

.review-post-btn span {
    background-color: #47a7eb;
    color: white;
}

.sec-form-register {
    background-image: url('../image/baiviet/background-register.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.info-suport {
    text-align: center;
    color: white;
    padding: 60px 20px;
    line-height: 40px;
    font-weight: bold;
}

.form-suport {
    text-align: center;
    color: white;
    padding: 40px 20px;
}

.form-suport > h2 {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
}

.form-suport > p {
    font-size: 15px;
    padding-bottom: 10px;
}

.form-suport > form > input, .form-suport > form > textarea {
    margin-bottom: 10px;
}

.form-suport > form > span {
    background-color: #47a7eb;
    font-size: 800;
    font-weight: bold;
    color: white;
}

/*footer {*/
/*    background-color: #302924;*/
/*    padding: 30px 0;*/
/*    color: white;*/
/*    font-size: 16px;*/
/*    line-height: 20px;*/
/*}*/

/*footer img {*/
/*    width: 100%;*/
/*    height: auto;*/
/*}*/

/*footer h3 {*/
/*    font-size: 20px;*/
/*    font-weight: bold;*/
/*}*/

/*footer a {*/
/*    display: block;*/
/*    padding-top: 10px;*/
/*    padding-left: 20px;*/
/*    color: white;*/
/*}*/

.sidebar {
    border: #a1a6a2 solid 1px;
    margin: 20px 0;
}

.sidebar-title {
    background-color: #47a7eb;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.sidebar-content {
    margin: 20px 10px;
    border-bottom: 1px dashed #a7a7a7;
}

.item-sidebar-content {
}

.img-post-sidebar {
    width: 90px;
    height: 65px;
    margin-right: 15px;
}


.breadcrumb {
    background-color: #bac2bc;
}

.breadcrumb__main {
    color: white;
    font-size: 18px;
    line-height: 18px;
}

.breadcrumb__main a {
    color: white;
    font-size: 18px;
    line-height: 18px;
}

.breadcrumb__main span {
    margin-right: 10px;
    margin-left: 10px;
}

.main__post h1 {
    color: #333;
    font-size: 24px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    overflow: hidden;
}

.post__meta {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 30px;
    display: inline-block;
    width: 100%
}

.post__meta .meta__left {
    float: left;
    width: 50%
}

.post__meta .meta__right {
    color: #6f6f6f;
    float: right;
    text-align: right;
    width: 50%;
}

.post__meta .meta__time i, .post__meta .meta__view i {
    padding-right: 5px;
}

.post__meta .meta__space {
    padding: 0 5px;
}

.main__post .content__post p {
    font-size: 15px;
    line-height: 24px;
    color: #565656;
    margin-bottom: 10px;
}

.main__post .content__post img {
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
}

.title__image {
    font-size: 12px;
    font-weight: 700;
    color: #999;
    display: block;
    font-style: italic;
    padding-top: 5px;
}

.main__post {
    border-bottom: 1px solid #c8a741;
    padding-bottom: 20px;
}

.breadcrumb {
    margin-bottom: 0px;
}

.breadcrumb__title a:hover {
    color: #47a7eb;
}

.content__single__post {
    padding: 20px 20px;
    padding-bottom: 1em;
    background-color: #e6e9ed;
}

.img-post-avatar img {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}

.img-post-avatar, .content__post {
    border-bottom: 1px solid #8c8c85;
    margin-bottom: 20px;
}

.main__post {
    padding: 30px 20px;
    background-color: white;
    border: 1px solid #47a7eb;
}

.content__post img {
    width: 100%;
    height: auto;
}

.content__post p {
    text-align: justify;
}

.comment__post {
    margin-top: 20px;
}

.comment__post h3 {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.ul-form-comment {
    text-align: right;
}

.comment__post form div {
    margin-bottom: 10px;
}

#btn-submit-comment {
    color: white;
    background-color: #47a7eb;
}

.img-user-comment {
    text-align: center;
}

#avatar-user {
    border-radius: 50%;
    background: #d3d2d3;
    color: #919090;
    font-weight: 500;
    width: 65px;
    height: 65px;
    display: inline-block;
    text-align: center;
    line-height: 65px;
    font-size: 18px;
}

.name-user-comment, .content-user-comment {
    padding: 10px 10px;
}

.name-user-comment {
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
}

.comment-review {
    padding-bottom: 10px;
    border-bottom: 1px dashed #c4c4c4;
    margin-bottom: 10px;
}

.content-user-comment {
    font-size: 16px;
    line-height: 20px;
}

.sidebar__categories {
    margin-bottom: 20px;
    /*border: #47a7eb solid 1px;*/
    background-color: white;
    padding-bottom: 10px;
}

.sidebar__title {
    font-size: 20px;
    color: white;
    background-color: #302924;
    line-height: 25px;
    padding: 10px 10px;
    text-align: center;
    font-weight: bold;
    border-top: 4px solid #47a7eb;
    text-transform: uppercase;
}

.categories__item li {
    margin: 10px 30px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #c4c4c4;

}

.categories__item li a {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
}

.categories__item li a:hover {
    font-size: 14px;
    color: #47a7eb;
}

.sidebar__new {
    padding-bottom: 10px;
    background-color: white;
    margin-bottom: 20px;
}

.sidebar__new .new__item {
    margin: 10px 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #c4c4c4;
}

.title-new a {
    font-size: 18px;
    color: #333;
}

.title-new a:hover {
    color: #47a7eb;
}


.content-category {
    padding: 20px 20px;
    padding-bottom: 1em;
    background-color: #e6e9ed;
}

.title-category {
    width: 100%;
    padding: 10px;
    margin: 0;
    margin-bottom: 10px;
    border: 1px solid #eee;
    background-color: white;
}

.item-category {
    width: 100%;
    padding: 20px;
    margin: 0;
    margin-bottom: 10px;
    border: 1px solid #eee;
    background-color: white;
    transition: .5s all;
}

.item-category:hover {
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px);
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.4);
}

.item-category .info a h3 {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #c4c4c4;
}

.item-category .info a h3:hover {
    color: #47a7eb;
}

.item-category .info span {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

.item-category .info p {
    text-align: justify;
    line-height: 20px;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.form-suport button {
    background-color: #47a7eb;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.post-large {
    /*margin-left: 15px;*/
    /*margin-right: 15px;*/
    /*padding: 30px 30px;*/
    background-color: white;
    margin-bottom: 20px;
}

.lasted-news--right {
    overflow: hidden;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.lasted-news--right ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    overflow-y: auto;
}

.lasted-news--right ul li {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background: #fff !important;
    padding: 15px 0;
    border-top: 1px solid #d1d1d1;
}

.lasted-news--right ul li:first-child {
    padding-top: 0;
    border-top: 0;
}

.lasted-news--right ul li a {
    color: #333;
    transition: .3s all;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    display: block;
    transition: .3s all;
}

.lasted-news--right ul li:hover a {
    color: var(--text-hover);
}

.lasted-news--right ul li a:first-child {
    width: 35%;
}

.lasted-news--right ul li a img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    vertical-align: middle;
}

.lasted-news--right ul li a:last-child {
    width: 65%;
    display: block;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.content-post {
    padding: 15px;
    overflow: hidden;
    position: relative;
}

.review-post {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.review-post {
    justify-content: flex-end;
    margin-top: 10px;
}

.review-post a{
    display: flex;
    align-items: center;
    color: #d1d1d1;
    padding: 4px 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #444;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
}
.review-post .btn {
    background-color: #444;
    padding: 0;
    border: 0;
    color: #d1d1d1;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-right: 5px;
}

.review-post a:hover,
.review-post a:focus,
.review-post a:hover .btn,
.review-post a:focus .btn{
    background: #222;
    color: #fff;
}

.post-image-large .img-post,
.post_item .img-post {
    position: relative;
    overflow: hidden;
}

.img-post a {
    /*position: absolute;*/
    /*z-index: 2;*/
    /*top: 0;*/
    /*left: 0;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*display: block;*/
}

.img-post:before,
.img-post:after {
    position: absolute;
    z-index: 1;
    content: "";
    background: rgba(255,255,255,.5);
    width: 0;
    height: 0;
    transition: .4s all ease-in-out;
}

.img-post:before {
    top: 0;
    left: 0;
}

.img-post:after {
    right: 0;
    bottom: 0;
}

.post-image-large:hover .img-post:before,
.post-image-large:hover .img-post:after,
.post_item:hover .img-post:before,
.post_item:hover .img-post:after{
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.05)
}

.post-image-large:hover .img-post img,
.post_item:hover .img-post img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.post-image-large .date-post,
.post_item .date-post {
    position: absolute;
    z-index: 1;
    bottom: 5px;
    right: 5px;
    padding: 10px;
    background: #222;
    color: #f1f1f1;
    border-radius: 4px;
}

.post_item .date-post {
    color: #f1f1f1;
}

.main {
    padding: 30px 0;
}

.main-title {
    text-align: center;
    padding:  0 0 30px;
}

.main-title h3 {
    display: inline-block;
    color: #000;
    font-size: 1.4rem;
    font-weight: 600;
    position: relative;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.line-title {
    position: relative;
    width: 100px;
    display: block;
    height: 1px;
    background: red;
    margin: 0 auto;
}

.line-title:before,
.line-title:after {
    position: absolute;
    content: "";
    width: 50px;
    height: 1px;
    background: red;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.line-title:before {
    top: -5px;
    left: 55%;
}

.line-title:after {
    top: 5px;
    left: 45%
}

.main--blog {
    position: relative;
    overflow: hidden;
}

.main-review .main-title h3 {
    color: #fff;
}

.main--blog ul li {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px 0;
    overflow: hidden;
}

.main--blog ul li:first-child {
    padding-top: 0;
}

.main--blog ul li div.blog-avatar {
    width: 40%;
    overflow: hidden;
}

.main--blog ul li .blog-avatar img {
    vertical-align: middle;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .4s all linear;
}

.main--blog ul li div.blog-content {
    width: 60%;
    padding-left: 15px;
}

.main--blog ul li .blog-content a {
    font-size: 1.1rem;
    color: #111;
    transition: .4s all ease-in-out;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.main--blog ul li .blog-content p {
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.main--blog ul li:hover .blog-avatar img{
    transform: scale(1.1);
}

.main--blog ul li:hover .blog-content a {
    color: var(--text-hover)
}

.main-review {
    padding: 50px 0;
    position: relative;
    background: url(../image/bg-spotlight.jpg) center center fixed no-repeat;
    background-size: cover;
}

.main-review:before {
    position: absolute;
    content: "";
    /*z-index: 1;*/
    height: 100%;
    width: 100%;
    top: 0;
    background: rgba(0, 0, 0, .5)
}

.main-review .main-title {
    color: #fff;
    z-index: 2;
}

.main-review .review-item {
    margin: 50px 30px 30px 30px;
}

.main-review .review-item .review-desc {
    padding: 30px;
    margin-bottom: 50px;
    /*border-left: 1px solid #fff;*/
    border-right: 1px solid #fff;
    font-size: 17px;
    color: #fff;
    line-height: 33px;
    position: relative;
}

.main-review .review-item .review-desc .right-line:after {
    position: absolute;
    content: '';
    width: 20%;
    height: 1px;
    background: #fff;
}

.main-review .review-item .review-desc .right-line:after {
    right: 0;
    bottom: 0;
}

.main-review .review-item .review-author {
    font-size: 1.4rem;
    color: #fff;
    text-align: center;
    position: relative;
    padding-top: 30px;
}

.main-review .review-item .review-author span {
    font-size: 1rem;
    color: #f1f1f1;
    display: block;
}

.main-review .review-item .review-logo {
    margin-top: 20px;
    text-align: center;
}

.main-review .review-item .review-logo img {
    height: 7rem;
    max-width: 100%;
    vertical-align: middle;
    margin: 0 auto;
    border: 4px solid #d9d9d9;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: auto !important;
}

.review-item:before,
.main-review .review-item .review-author:before {
    content: "";
    width: 1px;
    height: 50px;
    background: #fff;
    margin: 0 auto;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
}

.main-review .review-item:before {
    top: 0px;
}

.main-review .owl-dots .owl-dot,
.main-review .owl-dots .owl-dot:focus{
    outline: none !important;
}

.main-review .owl-dots .owl-dot span{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    outline: 2px solid #fff;
    outline-offset: 2px;
    opacity: 0.9;
    transition: all 0.3s ease 0s;
    margin-right: 10px;
    width: 8px;
    height: 8px;
}

.main-review .owl-dots .owl-dot.active span{
    background: var(--base-color);
    outline: 2px solid var(--base-color);
}

.main-partner {
    background: #fff;
}

.main-partner ul {
    flex-flow: row wrap;
    align-content: flex-end;
}

.main-partner ul li {
    width: 20%;
    padding: 10px;
}

.main-partner ul li .partner-item {
    border: 1px solid #d1d1d1;
    text-align: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 15px;
    background-color: #fff;
    transition: .3s all ease;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
}

.main-partner ul li .partner-item:hover {
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px);
    box-shadow: 0 0 0 1px rgba(187, 222, 251, 0.55), 0 1px 3px 0 rgba(187, 222, 251, 0.65), 0 3px 3px -1px rgba(187, 222, 251, 0.55), 0 20px 30px -3px rgba(187, 222, 251, 0.55);
}

.main-footer {
    background: #23272b;
}

.footer-logo {
    text-align: center;
}

.footer-logo a img {
    height: 5rem;
    vertical-align: middle;
}

.main-partner ul li img {
    height: 5rem;
}

.line-border {
    padding: 15px 0;
    border-top: 1px solid #777;
}

.footer-info h5 {
    font-size: 1.3rem;
    color: #f1f1f1;
    padding: 15px 0;
    font-weight: 600;
}

.footer-info ul li {
    padding: 5px 0;
}

.footer-info ul li p {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    padding-bottom: 15px;
}

.footer-info ul li a {
    color: #d1d1d1;
    font-size: 15px;
    line-height: 24px;
    transition: .3s all;
}

.footer-info ul li a i {
    margin-right: 5px;
}

.footer-info ul li:hover a {
    color: #fff;
}

.footer-info.footer-category ul li:hover a{
    padding-left: 10px;
}

.form-footer {
    position: relative;
}

.form-footer .form-control {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #666666;
    border-radius: 0;
    color: #ffffff;
    height: 52px;
}

.form-footer .btn-go {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #666666;
    border-style: solid;
    border-width: 0 0 0 1px;
    bottom: 0;
    color: #ffffff;
    font-size: 16px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
    width: 52px;
}

.form-footer .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}

.footer-social ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer-social ul li {
    padding-right: 10px;
}

.footer-social ul li a {
    display: inline-block;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #fff;
    color: #000;
    font-size: 22px;
    text-align: center;
    line-height: 50px;
    transition: .6s all;
}

.footer-social ul li a i {
    margin-right: 0;
}

.footer-social ul li:first-child:hover a {
    background: #4267B2;
    color: #fff;
}

.footer-social ul li:nth-child(2):hover a {
    background: #ff0000;
    color: #fff;
}

.footer-social ul li:nth-child(3):hover a {
    background: #EA4335;
    color: #fff;
}

.contact-map {
    padding: 50px 0;
}

.contact-left .f--content {
    padding: 15px 0;
    line-height: 24px;
    font-size: 16px;
    color: #000
}

.contact-left .f--body .f--list ul li {
    padding: 10px 0;
}

.child-tuyendung {
    padding-top: 10px;
}

.child-tuyendung .form-group:not(:last-child) input {
    border: none;
    border-bottom: 1px solid #B5E2EF;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding-left: 25px;
    padding-right: 0;
    margin-bottom: 30px;
}

.child-tuyendung input,
.child-tuyendung input:focus,
.child-tuyendung input:hover,
.child-tuyendung button,
.child-tuyendung button:focus,
.child-tuyendung button:hover,
.child-tuyendung textarea,
.child-tuyendung textarea:focus,
.child-tuyendung textarea:hover{
    outline: none !important;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
}

.child-tuyendung .form-group {
    position: relative;
}

.child-tuyendung .form-group:not(:last-child) i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
}

.child-tuyendung .form-group:last-child {
    text-align: center;
}

.child-tuyendung .form-group:last-child button,
.child-tuyendung .form-group:last-child input {
    border-color: transparent;
    line-height: 35px;
    background-color: #444;
    color: #ffffff;
    padding: 0 20px;
    font-weight: normal;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 14px;
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow:  0px 4px 2px -2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:  0px 4px 2px -2px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 4px 2px -2px rgba(0, 0, 0, 0.5);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px);
}

.child-tuyendung .form-group:last-child button i,
.child-tuyendung .form-group:last-child i {
    padding-right: 5px;
}

.child-tuyendung .form-group:last-child button:hover,
.child-tuyendung .form-group:last-child button:focus,
.child-tuyendung .form-group:last-child input:hover,
.child-tuyendung .form-group:last-child input:focus  {
    -webkit-box-shadow:  0px 0px 0px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:  0px 0px 0px 0px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 0px 0px 0px rgba(0, 0, 0, 0.5);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

.child-tuyendung textarea {
    width: 100%;
    height: 90px;
    border: none;
    border-bottom: 1px solid #B5E2EF;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding-left: 25px;
    padding-right: 0;
    margin-bottom: 30px;
}

.child-tuyendung textarea ~ i {
    left: 0;
    top: 12px !important;
}

.f--title {
    font-size: 1.3rem;
    font-weight: bold;
    color: #222;
    text-transform: uppercase;
    margin-bottom: 15px;
    line-height: 24px;
}

.f--body .f--list ul li {
    padding-bottom: 10px;
    color: #444;
    font-size: 16px;
}

.f--body .f--list ul li a{
    color: #444;
    font-size: 16px;
}

@media (max-width:991px) {
    .nav-main {
        position: relative
    }

    .nav-bottom .nav__menu, .nav-top .hotline, .nav-top .social {
        display: none;
    }

    .nav-main .nav-left a img,.footer-logo a img {
        height: 3rem;
        width: unset;
    }

    .nav-main .nav-left {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        text-align: center;
    }

    .search {
        display: none;
    }

    .js_search_mobile {
        display: block;
    }

    .nav-main .nav-right {
        padding-top: 30px;
    }

    #nav__toggle {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        font-size: 24px;
    }
    .header-page .nav-main .nav-left a.block__sticky {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-main .nav-left a.none__sticky {
        /*display: none;*/
    }

    .nav-main .nav-right {
        display: none;
    }

    /* Header */
    .arrow__search {
        display: none;
    }

    .banner .slider-item .slider-text h1 {
        font-size: 1.2rem
    }

    .banner .slider-item .slider-text,
    .banner .slider-item{
        min-height: 300px;
    }

    .main-partner ul li {
        width: 33.3333333%
    }

    .main-review .review-item .review-desc {
        padding: 0;
        font-size: 15px;
        border-right: 0;
    }

    .main-review .review-item {
        margin: 50px 0 30px;
    }

    .right-line {
        display: none;
    }

    .main-review .review-item .review-logo img {
        height: 4rem;
    }

    .content__single__post {
        padding: 5px
    }

    .content__single__post .container {
        padding: 0;
    }

    .main__post {
        padding: 15px;
    }

    .main__post h1 {
        font-size: 1.2rem;
    }

    .post__meta .meta__left,
    .post__meta .meta__right{
        float: none;
        width: 100%;
        font-size: 13px;
    }

    .name-user-comment,
    .content-user-comment{
        display: block;
        text-align: center;
    }

    .breadcrumb {
        padding: 5px;
    }

    .breadcrumb__main span {
        margin: 0 2px;
    }
    .breadcrumb__main a {
        font-size: 13px;
    }

    .content-category {
        padding: 5px
    }

    .content-category .container {
        padding: 0;
    }

    .info {
        padding: 10px 0;
    }

    .item-category .info a h3 {
        line-height: 24px;
        font-size: 16px;
    }
}
